@*Nav Item - Messages*@
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <span class="badge badge-danger badge-counter">@UserAccount.NotificationUnRead</span>
    </a>
    @*Dropdown - Messages*@
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            系統通知
        </h6>

        @foreach (var item in UserAccount.GetUserNotificationList(3))
        {
            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Details" , "Notification" , new { id = @item.rowid} )" title="@item.text_title">
                <div class="mr-3">
                    <div class="dropdown-list-image mr-3">
                        <div class="icon-circle bg-primary">
                            @if (item.is_read)
                            {<i class="fas fa-check text-success border border-success"></i> }
                            else
                            { <i class="fas fa-star text-warning border border-warning"></i>}
                            @*<div class="status-indicator bg-success"></div>*@
                        </div>
                    </div>
                </div>
                <div class="font-weight-bold">

                    <div class="text-truncate">
                        @if (item.is_read)
                        {

                            <div class="text-bold text-success">

                                @string.Format("{0}.{1}", item.sender_no, item.sender_name)
                                <br>
                                @item.text_title
                            </div>
                        }
                        else
                        {
                            <div class="text-bold text-warning">

                                @string.Format("{0}.{1}", item.sender_no, item.sender_name)
                                <br>
                                @item.text_title
                            </div>
                        }
                    </div>

                    <div class="small text-gray-500">
                        @item.date_sender.GetValueOrDefault().ToString("yyyy/MM/dd HH:mm")
                        @if (item.is_read)
                        {<span>(已讀)</span>}
                        else
                        {<span>(未讀)</span>}
                    </div>
                </div>
            </a>


        }
        <a class="dropdown-item text-center" href="@Url.Action("Index" , "Notification")">顯示所有通知</a>
    </div>

</li>
