@model bug_tracker.Models.users

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.rowid)
    @Html.HiddenFor(model => model.umno)
    @Html.HiddenFor(model => model.upassword)
    @Html.HiddenFor(model => model.urole)
    @Html.HiddenFor(model => model.varify_code)
    @Html.HiddenFor(model => model.isvarify)

    <div class="form-group">
        @Html.LabelFor(model => model.uname, htmlAttributes: new { @class = "control-label control-header col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.uname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.uname, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.uphone, htmlAttributes: new { @class = "control-label control-header col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.uphone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.uphone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.uemail, htmlAttributes: new { @class = "control-label control-header col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.uemail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.uemail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ubirthday, htmlAttributes: new { @class = "control-label control-header col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ubirthday, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.ubirthday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.remark, htmlAttributes: new { @class = "control-label control-header col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.remark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.remark, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="存檔" class="btn btn-success form-button" />
        </div>
    </div>
</div>
}

<script src="@Url.Content("~/Scripts/apps/datepicker.js")"></script>